body {
    background-color: #083B4C;
}

h1 {
    font-size: 100px;
    color: white;
  }
#main{
    justify-content: space-around;
    margin: 0 auto;
}

.quadrato {
    background-color: yellow;
    height: 100px;
    width: calc(94% / 8);
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#quadratobase {
    background-color: #1389B2;
}
.fizz {
    background-color: #0BD6A1;
}
.buzz {
    background-color: #FFD166;
}
.fizzbuzz{
    background-color:#F0466F;
}